<nav class="mi-navbar">

    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'productos' %}">Productos</a>

    {% if user.is_authenticated %}
        <a href="{% url 'mi_cuenta' %}">Mi cuenta</a>

        <form method="post" action="{% url 'logout' %}" class="logout-form">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'registro' %}">Registro</a>
    {% endif %}

</nav>